ArcadeCity.ipa
ArcadeCity.apk
node_modules
server/config.js
server/node_modules
www/scripts/configuration.js
.idea
.temp
.sass-cache
app/bower_components
coverage
platforms
plugins
*.ipa
*.swp
*.swo
*.log
*.DS_Store
local
resources/ios
resources/android
resources/wp8
