<ion-view view-title="Sign Up">

	<ion-content>
		<form name="form" novalidate>
		<div class="padding">
			<div class="center"><h5>for Arcade City</h5></div>

			<div class="list">
			  <label class="item item-input">
			    <span class="input-label">Name</span>
			    <input type="text" name="name" placeholder="enter the name here" ng-model="vm.form.name" ng-minlength="5" required>
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Email</span>
					<input type="email" name="email" placeholder="enter email address here" ng-model="vm.form.email" ng-minlength="5" required>
			  </label>

				<!--<label class="item item-input item-stacked-label">-->

				<label class="item item-input">
			    <span class="input-label col-offset-10">I want to:</span>
					<ion-list>

					  <ion-radio name="type" value="rider" ng-model="vm.form.type">Ride</ion-radio>
					  <ion-radio name="type" value="driver" ng-model="vm.form.type">Drive</ion-radio>
					</ion-list>
			  </label>

				<button class="button button-block button-positive"
					ng-disabled="form.$invalid"
								ng-click="vm.submit()">Submit</button>

			  <!--</label>-->

				<div class="padding">
             <p ng-show="form.name.$error.required">* Name is required</p>
             <p ng-show="form.email.$invalid && !form.email.$pristine">* Invalid email address</p>
             <p ng-show="form.name.$error.minlength">* Name must be longer than 5 characters</p>
             <p ng-show="form.email.$error.required">* Email is required</p>
             <p ng-show="form.email.$error.minlength">* Email must be longer than 6 characters</p>
						 <!--
						 <p ng-show="(!vm.form.ride && !vm.form.drive)">* You must select 'ride', 'drive', or both</p>
					   -->
         </div>



			</div>

		</div>
	</form>
	</ion-content>
</ion-view>
