module.exports = {
  'serverPort': 443,
  'serverName': 'ArcadeCityServer',
  'SSLCert': '/var/ssl/ssl.cert',
  'SSLKey': '/var/ssl/ssl.key',
  'SSL': true,
  'FBclientID': '<<Facebook App ID>>',
  'FBclientSecret': '<<Facebook App Secret>>',
  'CouchDBRoot': 'http://localhost:5984'
};
