//"use strict";
angular.module('config', [])
.constant('ENV', {
  name: 'development',
  apiEndpoint: 'http://dev.yoursite.com:10000/',
  youtubeKey: '',
  ionicPrivateKey: '',
  ionicPublicKey: '',
  ionicAppId: 'a3772a71',
  gcmId: '',
  vimeoAccessToken: '',
  facebookAppId: '',
  facebookPermanentAccessToken: '',
  facebookPage: 'ArcadeCityHall',
  instagramAppId: '',
  firebaseUrl: '',
  iosUrl: 'arcade.city.mobile',
  androidUrl: 'market://details?id=arcade.city.mobile',
  usesUntilRatePrompt: 4,
  androidPublisherKey: '',
  iosPublisherKey: '',
  googleAppId: '',
  twitterApiKey: '',
  twitterApiSecret: ''
});
