<ion-view hide-nav-bar="true">
  <ion-content>
    <img src="images/splash.png">
    <div class="padding">

      <button class="button button-block button-positive icon-left ion-social-facebook"
              ng-click="vm.facebookLogin()">
        Login with Facebook
      </button>
      <div class="center">
        <br/><br/>
        <h4>
          <a href="#/app/about">What is this?</a>
        </h4>
			</div>
			<div class="center">
        <h4>
          <a href="" ng-click="vm.openFacebookPage()">Visit us on Facebook</a>
        </h4>
      </div>

      <!--
			<div class="center">
        <h4>
          <a href="" ng-click="vm.news()">News</a>
        </h4>
      </div>
      -->

    </div>
  </ion-content>
</ion-view>
